<!DOCTYPE html>
<html>
<head>
  <title>Game1</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "game" %>
  <%= csrf_meta_tags %>
</head>
<body>



<!-- 

  
<div id="smallpanel">
  <div style="width:50%;margin-top:5px">
  
  <input style="width:75%;" />
  <a href="#" class="btn btn-mini btn-primary" style="width:8%"><i class="icon-white icon-circle-arrow-right"></i></a>
  </div>
  
  <a href="#" class="btn btn-mini btn-primary" id="btn1">A</a>
  <a href="#" class="btn btn-mini btn-primary" id="btn2">B</a>
</div>
 -->

<div id="wrapper-out">
<div id="wrapper">
  <div id="split">
    <canvas id="canvas">
    </canvas>
  </div>
  
<% if false %>

  <div id="split">
    <div id="panel">
      <%= render '/tabs' %>
    </div>

    <canvas id="canvas">
    </canvas>
  </div>

  <%= render '/navbar' %>
<% end %>
</div>
</div>


<%= yield %>

</body>
</html>
