<!DOCTYPE html>
<html>
<head>
  <title>Game1</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "game" %>
  <%= csrf_meta_tags %>
</head>
<body>



<!-- 

  
<div id="smallpanel">
  <div style="width:50%;margin-top:5px">
  
  <input style="width:75%;" />
  <a href="#" class="btn btn-mini btn-primary" style="width:8%"><i class="icon-white icon-circle-arrow-right"></i></a>
  </div>
  
  <a href="#" class="btn btn-mini btn-primary" id="btn1">A</a>
  <a href="#" class="btn btn-mini btn-primary" id="btn2">B</a>
</div>
 -->

<div id="wrapper-out">
<div id="wrapper">

  <div id="split">
    <div id="panel">





<ul class="nav nav-tabs" id="myTab">
  <li><a href="#tab-home"  title="Home"><%= icon('home') %></a></li>
  <li><a href="#tab-chat" title="Chat"><%= icon('comments') %> Chat</a></li>
  <li><a href="#tab-friends"  title="Friends"><%= icon('group') %> Friends</a></li>
  <li><a href="#tab-settings" title="Settings"><%= icon('cogs') %> Settings</a></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane" id="tab-chat">


<% users = [
            {
              id:         '1307529248',
              name:       'John',
              is_friend:  rand(10).odd?
            },
            {
              id:         '123456',
              name:       'Ash',
              is_friend:  rand(10).odd?
            },
            {
              id:         'barbie',
              name:       'Mist',
              is_friend:  rand(10).odd?
            },
            {
              id:         'albert',
              name:       'ProfOak',
              is_friend:  rand(10).odd?
            },
            {
              id:         'evandrodep',
              name:       'Gary',
              is_friend:  rand(10).odd?
            }
            ] %>
          <a hret="#" class="btn btn-mini btn-block" id="btn-history"><%= icon_text('time', "history") %></a>
          <div id="chat">
            <% 8.times do |i| %>
              <% user = users.sample %>


            <div class="line <%= 'friend' if user[:is_friend] %>">
              <small>
                <img src="https://graph.facebook.com/<%= user[:id] %>/picture?type=square" width="24" height="24" />
                <strong>@<%= user[:name] %>:</strong>
                <%= (rand(10) > 4) ? cycle('lol', ':)', 'kkk') : Faker::Lorem.words(rand(18)+3).join(' ') %>
              </small>

      <a href="#" class="btn btn-mini pull-right" data-loading-text="Loading...">
      <i class="icon-circle-arrow-right"></i>
      </a>  
            </div>


            <% end %>
          </div>


  </div>
  <div class="tab-pane" id="tab-home">

      <p>
      <button type="button" class="btn btn-success" data-loading-text="Loading...">Loading state</button>
      </p>
      <p>
      <button type="button" class="btn btn-info" data-loading-text="Loading...">Loading state</button>
      </p>
      <p>
      <button type="button" class="btn btn-warning" data-loading-text="Loading...">Loading state</button>
      </p>
      <p>
      <button type="button" class="btn btn-inverse" data-loading-text="Loading...">Loading state</button>
      </p>

  </div>
  <div class="tab-pane" id="tab-settings">




      <p>
      <button type="button" class="btn btn-link" data-loading-text="Loading...">Loading state</button>
      </p>
      <p>
      <button type="button" class="btn btn-primary" data-loading-text="Loading...">Loading state</button>
      </p>
      <p>
      <button type="button" class="btn btn-danger" data-loading-text="Loading...">Loading state</button>
      </p>


  </div>
  <div class="tab-pane" id="tab-friends">


      <a href="#" class="btn pull-right" data-loading-text="Loading...">
      <i class="icon-circle-arrow-right"></i>
      </a>  


      <p>
      <button type="button" class="btn btn-link" data-loading-text="Loading...">Loading state</button>
      </p>
      <p>
      <button type="button" class="btn btn-primary" data-loading-text="Loading...">Loading state</button>
      </p>
      <p>
      <button type="button" class="btn btn-danger" data-loading-text="Loading...">Loading state</button>
      </p>


  </div>
</div>









    </div>
    <canvas id="canvas">
    </canvas>
  </div>

<div class="navbar">
  <div class="navbar-inner">
    <div class="container" style="width: auto;">
      <a class="brand" href="/">Abcdefghijk</a>


<div class="navbar-form pull-left">
  <input type="text" class="" id="text">
  <a hret="#" class="btn"><%= icon('comment-alt') %></a>
</div>
<% if false %>
<div class="navbar-form pull-right">
  <a hret="#" class="btn btn-primary">
    <i class="icon-ok"></i>
  </a>
<!-- 
  <a hret="#" class="btn btn-primary">
    A
  </a>
  <a hret="#" class="btn btn-primary">
    B
  </a>
   -->
</div>
<% end %>


    </div>
  </div><!-- /navbar-inner -->
</div>


</div>
</div>


<%= yield %>

</body>
</html>
